{
	"ecmaVersion": 6,
	"env": {
		"es6": true,
		"node": true
	},
	"ecmaFeatures": {
		"modules": true
	},
	"rules": {
		"no-console": 0,
		"no-control-regex": 0,
		"no-redeclare": 0,
		"no-inner-declarations": 0,
	},
	"globals": {
	"quotes",
	"inactiveServers",
	"serverSettings",
	"commands",
	"CustomCommands",
	"Database",
	"UsageCheck",
	"ignoredUsers",
	"admins",
	"serverC",
	"channelC",
	"userC",
	"warningC",
	"errorC",
	"botC",
	miscC
	},
	extends: "eslint:recommended"
}