commands/admin/
commands/anime/
commands/interactions/
commands/misc/
commands/mod/
commands/search/
commands/tags/
commands/utilities/
commands/wordplay/
avatars/
database/
node_modules/
error.log
admins.json
options.json
playing.json
8ball.json
animequotes.json
dance.json
dance.json
puns.json
lewd.json

