commands/admin/
commands/anime/
commands/interactions/
commands/music/
commands/search/
commands/tags/
commands/utilities/
commands/wordplay/
utils/imageUtils.js
avatars/
database/
node_modules/
error.log
admins.json
options.json
playing.json
8ball.json
animeQuotes.json
dance.json
puns.json
lewd.json

